<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--link type="text/css" rel="stylesheet" href="default.css" /><!-->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>e-Wallet</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
</head>
<body class="body">



{#<div id="Layer4"><img src="/static/ewallet.jpg" alt="mainpage" width="547" height="196" /></div>#}
{#<div id="Layer7">#}
{#  <marquee><img src="/static/ace_logo.gif" alt="ACElogo" width="126" height="56" />#}
{##}
{#<img src="/static/boa_logo.gif" alt="boa" width="118" height="62" />#}
{#      #}
{#<img src="/static/bok.gif" alt="boabank" width="115" height="59" />#}
{#<img src="/static/janta_bank.gif" alt="global" width="167" height="55" />#}
{#<img src="/static/janta_bank.gif" alt="global" width="167" height="55" />#}
{#<img src="/static/janta_bank.gif" alt="global" width="167" height="55" />#}
{#</marquee></div>#}

<div id="Layer8"><center><b><h4>Top Question<h4></b></center></div>
 <center>
<div id="Layer5">
   <p align="left">&nbsp;</p>
   <p align="left">&nbsp;</p>
  <p align="left">&nbsp;&nbsp;&nbsp;<a href="/home"><u>What is eWallet/banking?</u></a></p>
  <p align="left">&nbsp;&nbsp;&nbsp;<a href="/home"><u>why is it essential in Nepal?</u></a></p>
  <p align="left">&nbsp;&nbsp;&nbsp;<a href="/home"><u>How to use eWallet?</u></a> </p>
  <p align="left">&nbsp;&nbsp;&nbsp;<a href="/home"><u>What are security options?</u></a><br />
    &nbsp;&nbsp;&nbsp;<a href="/home"><u>More FAQs</u></a></p>
  <p align="left">&nbsp;</p>
</div>
</center>
</br>
<div id="Layer6"> 
  <div class="text">
  <div allign="justify">
  </br>
    eWallet is a general concept of eBanking.
eBanking means electronic banking   system in which we will have virtual moneyin eWallet.
  Now through this money you can   do certain money realted transaction such as
  you can transfer you money from one  bank to another without manually going to bank,
  you can pay utilities bils through etcs </div>
  </div>
  </div>
<p align=right>
<a href="/sinup">sinup |</a>
<a href="http://www.google.com">loging |</a>
<a href="http://www.google.com">security |</a> 
<a href="http://www.google.com">help |</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<div class="newClass1"><a href="/home/"><img src="/static/ewallet.jpg" width="200" height="50" border="0"/></a></div></p>
<style type="text/css">
<!--
.style1 {font-family: Impact} 
a {text-decoration:none}
-->
</style>

<h1 class="style1">
<center>
<a href="/home/">Home</a>&nbsp;&nbsp;<a href="/aboutus/">AboutUs</a>&nbsp;&nbsp;
<a href="/home/">ContactUs</a>&nbsp;<a href="/home/">Nepal</a></h1>
</center>
<p>
  <marquee>
  <a href="/home">Why ebanking in Nepal?</a>
  </marquee>
</p>
<!css>
<link href="/static/formtemplate/bootstrap.css" rel="stylesheet">
<style type="text/css">
input.parsley-success, textarea.parsley-success {
        color: #468847 !important;
        background-color: #DFF0D8 !important;
        border: 1px solid #D6E9C6 !important;
      }
input.parsley-error, textarea.parsley-error {
        color: #B94A48 !important;
        background-color: #F2DEDE !important;
        border: 1px solid #EED3D7 !important;
      }
</style>
<!/css>

<!js>
<script type="text/javascript" src="/static/formtemplate/jquery.js"></script>
<script type="text/javascript" src="/static/formtemplate/bootstrap.js"></script>
<script type="text/javascript" src="/static/formtemplate/parsley.js"></script>
<!/js>
<style type ="text/css">
 .mycheck {
			position:absolute;
			left:255px;
 
       }
</style>
</br>
</br>
<div class="newClass">
<div id="Layer1">	
  <div align="center" class="style4"><b><h4>Account Login<h4></b></div>
</div>
<div id="Layer2">
    <form method = "post">
        Username: <br/>
        <input type ="text" name ="username">
        {% if error %}
            <font color="red"> Username and password didn't match.</font>
        {% endif %}
        <br>
        Password:<br/>
        <input type= "text" name ="password">
        <br>
        <input type="submit" name = "sign_button" value ="Sign in">
        <br>
        Not yet registered?
        <br/>
        <input type="submit" name ="register_button"  value ="Register Now">
    </form>





{#  <form name ="myform" method ="post">#}
{#<br/>#}
{#Name:</br><input type="text" placeholder="Name" name ="name">#}
{#<br/>#}
{#Username:</br><input  type="text" placeholder="Username" name="username">#}
{#</br>#}
{#<input type="submit" name="login" value="Sign In">#}
{#</br>#}
{#Go To :</br><input type="text" name="textfield3">#}
{#</form>#}
  <p align="left" class="style4"><a href="/home"><u><b>Problems with login?</b></u></a></p>
  <p align="left" class="style4">New to eWallet?<a href="/sinup"><u><b>sign Up.</b></u></a> </p>
  <p class="style4">&nbsp; </p>
</div>
</div>
</body>
</html>
