<!DOCTYPE html >
<html>
    <head>

        <title>e-Wallet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="eWallet, online payment nepal, online banking" />
        <meta name="description" content="e-Wallet is a online money wallet. It helps you to store your cash money in your e-Wallet and spend it in any online payment sites." />
        <link rel ="shortcut icon" href="/static/images/logo.png"/>
        <link href="/static/css/ewhomestyle.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
{#        <script type="text/javascript" src="/static/marquee.js">#}
{#//        </script>#}


    </head>
<body>

<div id="page_wrapper" >  {# First layer- Paints the whole page with lowermost background. #}
    <div id="templatemo_wrapper_outer"> {# second layer- paints with footer bar #}
        <div id="templatemo_wrapper"> {# Third layer - the content layer between the margin #}




	<div id="temmplatmeo_header"> {# header layer containing small menu  #}
    
   		<div id="site_title">
           	<a href="/project/ewallet/home/" target="_parent">
{#                   <img src="/static/images/eww.png" alt="Free Photo" />#}
                   {# e-Wallet logo here #}
            </a>
        </div>
    
    	<div id="templatemo_menu">
        
            <ul>

                <li><a href="/project/ewallet/home/" >home</a></li>
                <li><a href="/project/ewallet/register/" >register</a></li>
                <li><a href="/project/ewallet/home/">login</a></li>
                <li><a href="/project/ewallet/contact/">contact</a></li>

            </ul>    	
        
        </div> <!-- end of templatemo_menu -->
    
    </div> <!-- end of templatemo_header -->


    <div id="upper_layer">{# main content layer- central part #}
            <div id="templatemo_banner"> {# layer containing the banner  #}

    	<div class="banner_image"><span></span><img src="/static/images/ew.png" alt="e-Wallet logo" /></div>

            {# banner image or logo image here #}

        <h2>What is e-Wallet?</h2>
        <p>e-Wallet is a online money wallet. It helps you to store your cash money in your e-Wallet and spend it in any online payment sites.</p>
      <div class="button_01 float_r"><a href="/project/ewallet/about/">More...</a></div>
    	
    
        </div> <!-- end of templatemo_banner -->

    <div id="templatemo_big_menu">          {# big menu bar #}
        <ul>
            <li><a href="/project/ewallet/home/" class="current">Home</a></li>
            <li><a href="/project/ewallet/register/" >Register</a></li>
{#            <li><a href="/project/ewallet/security/">Security</a></li>#}
            <li><a href="/project/ewallet/about/">About</a></li>
            <li><a href="/project/ewallet/faq/">FAQ</a></li>
            <li><a href="/project/ewallet/contact/">Contact</a></li>
        </ul>
    </div>

    <div id="templatemo_content_wrapper"> {# content part below the big menu bar  #}

    	<div id="content">

        	<div class="section_w610 divider"> {# upper part containing the photo slider #}

                <h2>Welcome to e-Wallet.</h2>
                <p>e-Wallet is a online money wallet. It helps you to store your cash money in your e-Wallet and spend it in any online payment sites.</p>

{#                <canvas id="myCanvas" width="600" height="400">#}
                <img src="/static/images/j.png" alt="Utility"  width="600" height="400"/>
{#                </canvas>#}

{#                <script type="text/javascript">#}
{#                    var canvas=document.getElementById('myCanvas');#}
{#                    var ctx=canvas.getContext('2d');#}
{#                    ctx.fillStyle='#FF0000';#}
{#                      ctx.fillRect(0,0,600,400);#}
{#                    #}
{#                    #}
{#                </script>#}





                <div class="cleaner"></div>

             </div>

            <div class="section_w610 divider">
                <h2>Services</h2>
                <ul class="gallery">
                    <li><a><img src="/static/images/utility_payments.jpg" alt="Utility" /></a></li>
                    <br>
                    <span>Pay utility bills online. e-Wallet helps you to pay your utility bills staying at your home.
                        Your utility payment tasks are now the task of a few clicks.</span>
                    <br>
                    <br>
                        <li><a><img src="/static/images/buy.jpg" alt="Online Payments" /></a></li>

                    <br><span>Shop online and pay bills through e-Wallet. e-Wallet helps to shop easy.
                            Deposit your money to e-Wallet and start shopping.</span>
                    <br>
                    <br>
                    <br>
                    <li><a><img src="/static/images/wallet.jpg" alt="e-Wallet" /></a></li>
                        <br><span> Create an e-Wallet and store your money to ue it online any time you want.
                            e-Wallet helps to shop easy. Deposit your money to e-Wallet and start shopping.</span>
                </ul>

               <div class="cleaner"></div>

            </div>
                <h2>Our Banking Partners</h2>


            <div id="Layer7">

                <marquee behavior="scroll" direction="left" width="100%">

{#                    <img src="/static/images/pic.jpg" alt="global" width="167" height="55" />#}
                    <img src="/static/images/bok.gif" alt="Bank of Kathmandu" width="167" height="55" />
                    <img src="/static/images/NMB.png" alt="NMB"/>
                    <img src="/static/images/NCC.png" alt="NCC"/>
                    <img src="/static/images/ctbn.png" alt="CTBN"/>
                    <img src="/static/images/nabilbank.png" alt="Nabil"/>

                </marquee></div>
            <br/>
            <br/>

      </div>





        <div id="sidebar">


        <br/>
        <br/>
        <br/>
        	<h2 class="news">User Login</h2>



                <div class="outline">

                        <form method = "post">

                        <b>Username:</b>
                        <br/>
                        <input type ="text" name ="username">

                        <br>
                        <b>Password:</b>
                        <br/>
                        <input type= "password" name ="password">

                            {% if error %}
                                <br/>
                                <font color="red"> Username and password didn't match.</font>
                            {% endif %}
                            <br>
                        <input type="submit" name = "sign_button" value ="Sign in">
                        <br>
                        <br/>
                        <a href="/project/ewallet/pwreset/">Forgot your password? Click here.</a>
                        <br/>
                        <hr>
                        <b>New to e-Wallet?<b/>
                        <br/>
                        <input type="submit" name ="register_button"  value ="Register Now">
                    </form>
                <br>
                    <b>OR</b>
                    <br/>
                    <a href="/project/ewallet/about/">Learn More...</a>

                </div>

        <h3><b>e-Wallet Overview</b></h3>
        <div id="faq_box">
            <div id="Layer5">
                <br/>
                <p align="centre"><a href="http://localhost:8000/home"><u>What is eWallet/banking?</u></a></p>
                <p align="left"><a href="http://localhost:8000/home"><u>why is it essential in Nepal?</u></a></p>
                <p align="left"><a href="http://localhost:8000/home"><u>How to use eWallet?</u></a> </p>
                <p align="left"><a href="http://localhost:8000/home"><u>What are security options?</u></a><br />


                <p align="left"><a href="http://localhost:8000/home"><u>What is eWallet/banking?</u></a></p>
                <p align="left"><a href="http://localhost:8000/home"><u>why is it essential in Nepal?</u></a></p>
                <p align="left"><a href="http://localhost:8000/home"><u>How to use eWallet?</u></a> </p>
                <p align="left"><a href="http://localhost:8000/home"><u>What are security options?</u></a><br />


                <p align="left"><a href="http://localhost:8000/home"><u>What is eWallet/banking?</u></a></p>
                <p align="left"><a href="http://localhost:8000/home"><u>why is it essential in Nepal?</u></a></p>
                <p align="left"><a href="http://localhost:8000/home"><u>How to use eWallet?</u></a> </p>
                <p align="left"><a href="http://localhost:8000/home"><u>What are security options?</u></a><br />

                <p align="left"><a href="http://localhost:8000/home"><u>What is eWallet/banking?</u></a></p>
                <p align="left"><a href="http://localhost:8000/home"><u>why is it essential in Nepal?</u></a></p>
                <p align="left"><a href="http://localhost:8000/home"><u>How to use eWallet?</u></a> </p>
                <p align="left"><a href="http://localhost:8000/home"><u>What are security options?</u></a><br />
{#                <p align="left"><a href="http://localhost:8000/home"><u>What are security options?</u></a><br />#}
 </div>
        </div>
</div>


        <div class="cleaner"></div>

    </div>


</div>

    </div>
<div id="footer">
<div id="copyright">
    Copyright © 2013  |
    All rights reserved |
    <a href="/project/ewallet/home/" target="_parent"> e-Wallet</a>
{#    Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp;#}
{#    <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>#}
</div>
</div>
</div>

</body>
</html>